*{
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: square;
    /* text-align: right; */
    list-style-position: inside;
}
li{
    font-size: 20px;
    font-weight: bold;
}
p.c{
    text-align: justify;
}
a:visited{
    color:aqua;
    
}
a:hover{
    color:crimson;
}
a:active{
    color:green;
}
img{
    float: right;
    width:120px ;
    height:100px ;
    opacity: 0.5;
}
img:hover{
    opacity: 1.0;
}
p.a{
    border-style:solid;
    border-width: 10px;
    border-color: brown;
    background-color: bisque;
    width:450px;
    height:130px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    outline-style: solid;
    overflow:auto;
    
}
table,td,th{
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}
.navBar{
    list-style-type: none;
    display: flex;
    
    background-color: chartreuse;
    gap:20px;
    padding: 15px;
    justify-content: space-between;
    
}
li a{
    text-decoration: none;
}
li a:hover{
    color:coral
}
a.c{
    color:white;

}
.image{
    float: left;
    padding-right: 10px;

}
.row{
   display: flex;
   /* flex-wrap: wrap; */
}
.coloumn-side{
    /* float: left; */
    width: 25%;
    height: 300px;
    border-right: 1px solid rosybrown;
    padding-right: 15px;
}
.coloumn-main{
    width: 50%;
    height: 300px;
    border-right: 1px solid rosybrown;
    padding-right: 15px;
}
.row:after{   /*for unaffecting the underlying contents*/
    content:"";
    display: table;
    clear:both;
}
@media screen and (max-width:900px){
    p.a{
      background-color: blue;  
    }  
    .row{
    display: block;
    } 
    .coloumn-side,.coloumn-main{
    width:100%
    }

}
@media screen and (max-width:600px){
p.a{
      background-color:crimson;  
    }  
}

